<?xml version="1.0" encoding="UTF-8"?>
<server description="userManagement">

    <featureManager>
        <feature>microProfile-3.3</feature>
		<feature>jdbc-4.2</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"/>

    <webApplication location="userManagement.war" contextRoot="/">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>
    <mpMetrics authentication="false"/>

    <!-- This is the keystore that will be used by SSL and by JWT. -->
    <keyStore id="defaultKeyStore" location="public.jks" type="JKS" password="atbash" />


    <!-- The MP JWT configuration that injects the caller's JWT into a ResourceScoped bean for inspection. -->
    <mpJwt id="jwtUserConsumer" keyName="theKeyId" audiences="targetService" issuer="team-a"/>

	<dataSource id="DefaultDataSource" jndiName="jdbc/mySQL">
		<jdbcDriver libraryRef="MySQLLib" />
		<properties databaseName="userservice" serverName="localhost"
					portNumber="3306" user="root" />
	</dataSource>
	<library id="MySQLLib">
		<file name="${server.config.dir}/mysql-connector-java-8.0.18.jar" />
	</library>

	<jndiEntry id="appServicePassword" jndiName="appServicePassword" value="ferEG42gs4tgdsGFDS" />

</server>
